@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>VS Telecom Ltda - Filial Porto Alegre</strong> <br />
    
    Endereço: Rua Riachuelo,1038 / 705<br />
    Bairro: Centro Histórico - Porto Alegre - RS<br />
   
    
</address>

<address>
    <strong>Support:</strong> <a href="mailto:suporte@vstelecom.com.br">suporte@vstelecom.com.br</a><br />
    <strong>Sales:</strong> <a href="mailto:comercial@vstelecom.com.br">comercial@vstelecom.com.br</a>
</address>
